In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Load Dataset
df = pd.read_csv("C:\Users\HP\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [ ]:
df.describe()

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
#Q1
# select Columns 'Y2017' and 'Area', Perform a groupby operation on 'Area'. Which of these Areas had the 7th lowest sum in 2017?
select_data = df[['Y2017', 'Area']]
grp_data = select_data.groupby('Area')['Y2017'].sum()
arrange_data = grp_data.sort_values(ascending=True)

In [ ]:
arrange_data

In [ ]:
#Q12
# To determine the area with the 7th Lowest sum
lowest_sum = arrange_data.iloc[6]
print(lowest_sum)

In [ ]:
#Q2
# Given the following python code, what would the output of the code give?
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

In [ ]:
df.shape

In [ ]:
#Q9
# What is the total number and percentage of missing data in 2014 to 3 decimal places?
df.isnull().sum()

In [ ]:
#Q11
# What is the total number of unique countries in the dataset?
# Use groupby() to identify the unique countries

countries = df.groupby('Area').count()
total_countries = len(countries)

In [ ]:
len(countries)

In [ ]:
year_2017

In [ ]:
sum_process = year_2017.sort_values(ascending=True)

In [ ]:
sum_process

In [ ]:
#Q17
# Given the Numpy array
array  = np.array([[94, 89, 63],
          [93, 92, 48],
          [92, 94, 56]])
# How would you select  the elements in bold and italics from the array?

In [ ]:
array[: 2, 1 :]

In [ ]:
#Q1
# Which of these Areas had the highest sum in 2017?

In [ ]:
year_2017 = df.groupby('Area')['Y2017'].sum()
print(year_2017.idxmax())
     
Nigeria

In [ ]:
#Q18
# What year has the highest sum of Stock Variation?
yr_2014 = df.groupby('Element')['Y2014'].sum()
yr_2015 = df.groupby('Element')['Y2015'].sum()
yr_2016 = df.groupby('Element')['Y2016'].sum()
yr_2017 = df.groupby('Element')['Y2017'].sum()
yr_2018 = df.groupby('Element')['Y2018'].sum()

In [ ]:
yr_2014

In [ ]:
yr_2015

In [ ]:
yr_2016

In [ ]:
yr_2017

In [ ]:
yr_2018

In [ ]:
#Q4
# What would be the output for?
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

In [ ]:
#Q7
# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
m2017 = df['Y2017'].mean().round(2)
std2017 = df['Y2017'].std().round(2)

In [ ]:
m2017

In [ ]:
std2017

In [ ]:
#Q15
# total Protein supply quantity in Madagascar in 2015?

protein = df.groupby('Element')['Y2015'].sum()
print(protein)

In [ ]:
#Q3
# Answer the following questions based on the African food production dataset provided by the FAO website already provided

# What is the total sum of Wine produced in 2015 and 2018 respectively?

# Hint: Perform a groupby sum aggregation on ‘Item’
df[df['Item']=='Wine'].groupby(['Item', 'Y2015', 'Y2018'])['Y2015', 'Y2018'].sum().sum()
# 4250.81 and 4035.32

In [ ]:
#Q16
# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
df[df['Element']=='Processing'].groupby(['Element', 'Y2017'])['Y2017'].sum().sum()
# 292836.00

In [ ]:
#Q19
#Which year had the least correlation with ‘Element Code’?
plt.figure(figsize=(14,12))
corr_plot = df.corr()
sns.heatmap(corr_plot, annot=True,  cmap=plt.cm.Reds)
plt.show()

#2016 = 0.023

In [ ]:
#Q20
#If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

#How do you create a pandas DataFrame using this list, to look like the table below?
data = pd.DataFrame(lst, columns=col, index=[1,2,3])
data